@for $i from 1 through 100 {
  $margin-value: #{$i}px;

  .ml-#{$i} {
    margin-left: $margin-value;
  }
  .mr-#{$i} {
    margin-right: $margin-value;
  }

  .mt-#{$i} {
    margin-top: $margin-value;
  }

  .mb-#{$i} {
    margin-bottom: $margin-value;
  }

  .mx-#{$i} {
    margin-left: $margin-value;
    margin-right: $margin-value;
  }

  .my-#{$i} {
    margin-top: $margin-value;
    margin-bottom: $margin-value;
  }
}


@for $i from 1 through 100 {
  $padding-value: #{$i}px;

  .pl-#{$i} {
    padding-left: $padding-value;
  }
  .pr-#{$i} {
    padding-right: $padding-value;
  }

  .pt-#{$i} {
    padding-top: $padding-value;
  }

  .pb-#{$i} {
    padding-bottom: $padding-value;
  }

  .px-#{$i} {
    padding-left: $padding-value;
    padding-right: $padding-value;
  }

  .py-#{$i} {
    padding-top: $padding-value;
    padding-bottom: $padding-value;
  }
}
