$daylight-blue: #1591ec;
$pinky-fresh: #e4115d;
$dark-1: #100f10;
$dark-2: #1b1b1b;
$dark-3: #242424;
$dark-4: #363636;
$light-1: rgba(255, 255, 255, 0.96);
$light-2: rgba(255, 255, 255, 0.67);
$light-3: rgba(255, 255, 255, 0.45);

$mobile: 480px;
$tablet: 768px;
$dekstop: 1024px;
$pc: 1280px;
