@keyframes preloader {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes triangle {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(50px, 50px) rotate(0);
  }
  30% {
    transform: translate(100px, 100px) rotate(45deg);
  }
  40% {
    transform: translate(150px, 150px) rotate(90deg);
  }
  50% {
    transform: translate(100px, 150px) rotate(115deg);
  }
  60% {
    transform: translate(50px, 150px) rotate(180deg);
  }
  70% {
    transform: translate(0, 150px) rotate(225deg);
  }
  80% {
    transform: translate(0, 100px) rotate(270deg);
  }
  90% {
    transform: translate(0, 50px) rotate(315deg);
  }
  100% {
    transform: translate(0, 0) rotate(359deg);
  }
}

@keyframes circle {
  0% {
    transform: translate(0, 0);
    border-color: $white;
  }
  25% {
    transform: translate(-75px, 0);
    border-color: $light-2;
  }
  50% {
    transform: translate(-75px, 75px);
    border-color: $dark;
  }
  75% {
    transform: translate(-10px, 75px);
    border-color: $light-2;
  }
  100% {
    transform: translate(0, 0);
    border-color: $white;
  }
}
@keyframes circle-1 {
  0% {
    transform: translate(0, 0);
    border-color: $white;
  }
  25% {
    transform: translate(-75px, 0);
    border-color: $light-2;
  }
  50% {
    transform: translate(-75px, 75px);
    border-color: $dark;
  }
  75% {
    transform: translate(-10px, 75px);
    border-color: $light-2;
  }
  100% {
    transform: translate(0, 0);
    border-color: $white;
  }
}

@keyframes windmill {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
