* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
.mb-50 {
  margin-bottom: 50px;
}
body {
  margin: 0;
  padding: 0;
  background-color: $black;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background: $black;
    z-index: 100;

    .loader-inner {
      transition: 0.3s ease-out;
      img {
        position: absolute;
        width: 50px;
        top: 50%;
        left: 50%;
        animation: preloader 3s linear infinite;
        transform: translate(-50%, -50%);
      }
    }
  }

  .name,
  .career,
  .menu a:hover,
  .introduce-details,
  .introduce-details .social-media a,
  .introduce-details button:hover {
    color: $light-1;
  }

  .menu a,
  .menu li,
  #portfolio {
    color: $light-2;
  }
  #portfolio a,
  .introduce-details button {
    color: $white;
  }
  li {
    margin: 0 3px;
    list-style: none;
    display: inline;
  }
  header {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient($banner, $banner),
      url("../images/Background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .wrapper {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: unset;
      z-index: 1;
      .introduce {
        background: unset;
        position: absolute;
        width: 100%;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;

        img {
          width: 150px;
          transform: scale(1.1);
          filter: grayscale(50%) brightness(100%);
          clip-path: circle(50% at 50% 50%);
          border: 3px solid $white;
          border-radius: 50%;
          transition: all 1s ease-in-out;
        }
        .name {
          font-weight: 700;
          letter-spacing: 1.5px;
        }
        ul {
          transform: translateX(-22px);
          a {
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      .introduce-details {
        padding: 5px 15px;
        position: absolute;
        border-radius: 10px;
        background: unset;
        left: 50%;
        width: 100%;
        height: auto;
        z-index: 2;
        .about {
          line-height: 2rem;
        }

        .skill {
          transform: translateX(-15px);
          margin: 10px 0 5px;
          i {
            margin: 5px;
          }
        }
        .social-media {
          a {
            i {
              border-radius: 10px;
              padding-top: 1px;
              width: 35px;
              height: 35px;
            }
            &:hover {
              transition: all 1s ease-in-out;
              i {
                color: $white;
              }
              .fab.fa-whatsapp {
                background: #4fce5d;
              }
              .fab.fa-facebook {
                background: $white;
                color: #3b5998;
              }
              .fa-instagram {
                background: #5851db;
                background: radial-gradient(
                  circle at 30% 107%,
                  #fdf497 0%,
                  #fdf497 5%,
                  #fd5949 45%,
                  #d6249f 60%,
                  #5851db 90%
                );
              }
              .fa-github {
                color: #000000;
                background: $white;
              }
              .fab.fa-gitlab {
                background: #000000;
                color: #fc6d27;
              }
              .fa-linkedin {
                background: #0e76a8;
              }
            }
          }
        }
      }
    }
  }
  main {
    .triangle {
      position: absolute;
      left: 35%;
      width: 0;
      height: 0;
      color: $banner-2;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 18px solid $light-2;
      z-index: 0;
      animation: triangle 40s linear infinite;
    }
    .circle {
      position: absolute;
      top: 10%;
      left: 90%;
      width: 15px;
      height: 15px;
      background: unset;
      border: 1.5px solid $white;
      border-radius: 50%;
      z-index: 0;
      animation: circle 36s linear infinite;
      opacity: 1;
    }
    .windmill {
      position: absolute;
      width: 3px;
      height: 18px;
      border-radius: 20px;
      background: $light-2;
      z-index: 0;
      animation: windmill 3s linear infinite;
      &:after {
        content: "";
        position: inherit;
        width: inherit;
        height: inherit;
        background: inherit;
        border-radius: inherit;
        transform: rotate(90deg);
      }
    }
    #portfolio {
      position: relative;
      padding: 50px;
      width: 100%;
      min-height: 100vh;
      .title {
        h1 {
          color: $white;
          strong {
            letter-spacing: 1px;
            color: $light-2;
          }
        }
      }
      a {
        text-decoration: none;
      }
      .card {
        background: $dark;
        overflow: hidden;
        box-shadow: 1px 1px 5px $light-2;
        transition: all 1s ease-in-out;
        &:hover {
          box-shadow: 1px 1px 15px 2px $light-2;
          transform: scale(1.1);
          .caption {
            opacity: 1;
          }
        }
        img {
          width: 100%;
        }
        .caption {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: $banner;
          border-bottom-left-radius: inherit;
          border-bottom-right-radius: inherit;
          transition: all 1.3s ease-in-out;
          transition-delay: 0.5s;
          z-index: 1;
          opacity: 0;
          h3 {
            position: absolute;
            letter-spacing: 1.5px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
