@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    header {
      .introduce-details {
        transform: translateX(-125%);
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  body {
    header {
      .wrapper {
        padding: 0 10px;
        .introduce-details {
          transform: translateX(-150%);
        }
      }
    }
  }
}
