@import url("/vendor/bootstrap-4.3.1/css/bootstrap.min.css");
@import url("/vendor/fontawesome/css/all.min.css");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
.mb-50 {
  margin-bottom: 50px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
body .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background: #000000;
  z-index: 100;
}
body .loader .loader-inner {
  transition: 0.3s ease-out;
}
body .loader .loader-inner img {
  position: absolute;
  width: 50px;
  top: 50%;
  left: 50%;
  animation: preloader 3s linear infinite;
  transform: translate(-50%, -50%);
}
body .name,
body .career,
body .menu a:hover,
body .introduce-details,
body .introduce-details .social-media a,
body .introduce-details button:hover {
  color: #c5c5c5;
}
body .menu a,
body .menu li,
body #portfolio {
  color: #8d8d8d;
}
body #portfolio a,
body .introduce-details button {
  color: #ffffff;
}
body li {
  margin: 0 3px;
  list-style: none;
  display: inline;
}
body header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/Background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body header .wrapper {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: unset;
  z-index: 1;
}
body header .wrapper .introduce {
  background: unset;
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
body header .wrapper .introduce img {
  width: 150px;
  transform: scale(1.1);
  filter: grayscale(50%) brightness(100%);
  clip-path: circle(50% at 50% 50%);
  border: 3px solid #ffffff;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}
body header .wrapper .introduce .name {
  font-weight: 700;
  letter-spacing: 1.5px;
}
body header .wrapper .introduce ul {
  transform: translateX(-22px);
}
body header .wrapper .introduce ul a {
  text-decoration: none;
  cursor: pointer;
}
body header .wrapper .introduce-details {
  padding: 5px 15px;
  position: absolute;
  border-radius: 10px;
  background: unset;
  left: 50%;
  width: 100%;
  height: auto;
  z-index: 2;
}
body header .wrapper .introduce-details .about {
  line-height: 2rem;
}
body header .wrapper .introduce-details .skill {
  transform: translateX(-15px);
  margin: 10px 0 5px;
}
body header .wrapper .introduce-details .skill i {
  margin: 5px;
}
body header .wrapper .introduce-details .social-media a i {
  border-radius: 10px;
  padding-top: 1px;
  width: 35px;
  height: 35px;
}
body header .wrapper .introduce-details .social-media a:hover {
  transition: all 1s ease-in-out;
}
body header .wrapper .introduce-details .social-media a:hover i {
  color: #ffffff;
}
body header .wrapper .introduce-details .social-media a:hover .fab.fa-whatsapp {
  background: #4fce5d;
}
body header .wrapper .introduce-details .social-media a:hover .fab.fa-facebook {
  background: #ffffff;
  color: #3b5998;
}
body header .wrapper .introduce-details .social-media a:hover .fa-instagram {
  background: #5851db;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #5851db 90%);
}
body header .wrapper .introduce-details .social-media a:hover .fa-github {
  color: #000000;
  background: #ffffff;
}
body header .wrapper .introduce-details .social-media a:hover .fab.fa-gitlab {
  background: #000000;
  color: #fc6d27;
}
body header .wrapper .introduce-details .social-media a:hover .fa-linkedin {
  background: #0e76a8;
}
body main .triangle {
  position: absolute;
  left: 35%;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid #8d8d8d;
  z-index: 0;
  animation: triangle 40s linear infinite;
}
body main .circle {
  position: absolute;
  top: 10%;
  left: 90%;
  width: 15px;
  height: 15px;
  background: unset;
  border: 1.5px solid #ffffff;
  border-radius: 50%;
  z-index: 0;
  animation: circle 36s linear infinite;
  opacity: 1;
}
body main .windmill {
  position: absolute;
  width: 3px;
  height: 18px;
  border-radius: 20px;
  background: #8d8d8d;
  z-index: 0;
  animation: windmill 3s linear infinite;
}
body main .windmill:after {
  content: "";
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}
body main #portfolio {
  position: relative;
  padding: 50px;
  width: 100%;
  min-height: 100vh;
}
body main #portfolio .title h1 {
  color: #ffffff;
}
body main #portfolio .title h1 strong {
  letter-spacing: 1px;
  color: #8d8d8d;
}
body main #portfolio a {
  text-decoration: none;
}
body main #portfolio .card {
  background: #141414;
  overflow: hidden;
  box-shadow: 1px 1px 5px #8d8d8d;
  transition: all 1s ease-in-out;
}
body main #portfolio .card:hover {
  box-shadow: 1px 1px 15px 2px #8d8d8d;
  transform: scale(1.1);
}
body main #portfolio .card:hover .caption {
  opacity: 1;
}
body main #portfolio .card img {
  width: 100%;
}
body main #portfolio .card .caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  transition: all 1.3s ease-in-out;
  transition-delay: 0.5s;
  z-index: 1;
  opacity: 0;
}
body main #portfolio .card .caption h3 {
  position: absolute;
  letter-spacing: 1.5px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes preloader {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes triangle {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(150px, 150px) rotate(120deg);
  }
  30% {
    transform: translate(300px, 300px) rotate(240deg);
  }
  40% {
    transform: translate(450px, 450px) rotate(360deg);
  }
  50% {
    transform: translate(300px, 450px) rotate(480deg);
  }
  60% {
    transform: translate(150px, 450px) rotate(600deg);
  }
  70% {
    transform: translate(0, 450px) rotate(720deg);
  }
  80% {
    transform: translate(0, 300px) rotate(840deg);
  }
  90% {
    transform: translate(0, 150px) rotate(980deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes circle {
  0% {
    transform: translate(0, 0);
    border-color: #ffffff;
  }
  25% {
    transform: translate(-300px, 0);
    border-color: #8d8d8d;
  }
  50% {
    transform: translate(-300px, 300px);
    border-color: #141414;
  }
  75% {
    transform: translate(-100px, 300px);
    border-color: #8d8d8d;
  }
  100% {
    transform: translate(0, 0);
    border-color: #ffffff;
  }
}
@keyframes windmill {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  body header .introduce-details {
    transform: translateX(-25%);
  }
}
@media only screen and (max-width: 575px) {
  body header .wrapper {
    padding: 0 10px;
  }
  body header .wrapper .introduce-details {
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
