.button-blue {
  width: auto;
  height: auto;
  padding: 10px 30px;
  background: $daylight-blue;
  color: $light-1;
  text-align: center;
  border-radius: 5px;
  &:hover {
    background: #0f78c3;
  }
  &:focus {
    box-shadow: 0 0 0 2px #4932d8;
  }
}

.button-pinky {
  width: auto;
  height: auto;
  padding: 10px 30px;
  background: $pinky-fresh;
  color: $light-1;
  text-align: center;
  border-radius: 5px;
  border: 2px solid $light-1;
  &:hover {
    background: $light-1;
    color: $pinky-fresh;
  }
  &:focus {
    box-shadow: 0 0 0 2px #be6686;
  }
}

.title-section {
  font-size: 2.5rem;
  font-weight: 600;
  color: $light-1;
  text-align: center;
  margin-bottom: 5rem;
  span {
    font-weight: 700;
    color: $pinky-fresh;
  }
}
.subtitle-section {
  font-size: 1.5rem;
  font-weight: 600;
  color: $light-2;
  margin-bottom: 5px;
}

#about {
  background: $dark-2;

  .about-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 127px;

    .about-personal {
      text-align: center;
      figure {
        position: relative;
        left: 50%;
        width: 10rem;
        height: 10rem;
        border: 3px solid $light-1;
        border-radius: 50%;
        margin-bottom: 1.75rem;
        transform: translateX(-50%);
        img {
          width: 100%;
          height: 100%;
          clip-path: circle(50% at 50% 50%);
        }
      }
      .about-personal-description {
        color: $light-1;
        font-weight: 600;
      }
      .about-skill {
        i {
          font-size: 25px;
          color: $light-1;
          margin: 0 0.625rem;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .about-work {
      .about-work-spesification {
        margin-bottom: 2.5rem;
        .circle-icons {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: $light-1;
          margin-right: 1.25rem;
        }
        .spesification-header {
          display: flex;
          align-items: center;
          flex-direction: row;
          margin-bottom: 11px;
          .spesification-title {
            color: $light-1;
            font-weight: 700;
          }
        }
      }
    }
    .about-text {
      color: $light-2;
      font-size: 0.875rem;
    }
  }
}

#portfolio {
  background: $dark-3;
  .portfolio-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 242px;
    grid-auto-flow: dense;

    .portfolio-item {
      position: relative;
      img {
        width: 100%;
        height: 242px;
        object-fit: cover;
      }

      .card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        transition: 0.3s;
        z-index: 1;
      }
      .portfolio-caption {
        position: absolute;
        top: 0;
        width: 100%;
        transition: top 0.5s;
        opacity: 0;
        z-index: 2;
        .portfolio-title {
          font-size: 1.5rem;
          font-weight: 600;
          color: $light-1;
          margin-bottom: 10px;
        }
        .language {
          color: $dark-1;
        }
        .portfolio-title,
        .language {
          text-align: center;
        }
      }
      .button-pinky {
        position: absolute;
        left: 50%;
        bottom: 0;
        transition: all 0.5s;
        transform: translateX(-50%);
        opacity: 0;
        z-index: 2;
      }
      &:hover {
        .card {
          background: $pinky-fresh;
        }
        .portfolio-caption {
          top: 18%;
          opacity: 1;
        }
        .button-pinky {
          bottom: 18%;
          opacity: 1;
        }
      }
    }
  }
}

#article {
  .title-section,
  .subtitle-section {
    text-align: left;
  }
  .title-section {
    font-size: 1.8rem;
  }

  .article-container {
    display: grid;
    grid-template-columns: 260px;
    grid-gap: 40px;
    justify-content: center;

    .article-item {
      position: relative;
      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
      }
      .article-title {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 5px;
        a {
          color: $light-1;
          &:hover {
            color: $light-2;
          }
        }
      }
      .article-date {
        color: $light-1;
        font-size: 0.75rem;
        font-weight: 400;
      }
      .article-content {
        color: $light-2;
        font-size: 0.875rem;
      }
    }
  }
}

#contact {
  background: $dark-3;
  .title-section {
    font-size: 1.8rem;
  }
  form {
    position: relative;
    width: 100%;
    margin: 0 auto;
    input,
    textarea {
      width: 100%;
      color: $light-1;
      background: $dark-1;
      padding: 0.75rem 1rem;
      border: none;
      border-radius: 5px;
      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $light-3;
      }
      &::placeholder {
        color: $light-3;
      }
    }
    input {
      height: 2.5rem;
      margin-bottom: 4px;
    }
    textarea {
      height: 6.25rem;
      margin-bottom: 1rem;
    }
    .right {
      display: flex;
      justify-content: flex-end;
    }
  }
}
