.button-blue {
  width: auto;
  height: auto;
  padding: 10px 30px;
  background: $daylight-blue;
  color: $light-1;
  text-align: center;
  border-radius: 5px;
  &:hover {
    background: #0f78c3;
  }
  &:focus {
    box-shadow: 0 0 0 2px #4932d8;
  }
}

.button-black {
  width: auto;
  height: auto;
  padding: 10px 30px;
  background: $dark-1;
  color: $light-1;
  text-align: center;
  border-radius: 5px;
  border: 2px solid $light-1;
  &:hover {
    background: $light-1;
    color: $dark-1;
  }
  &:focus {
    box-shadow: 0 0 0 2px #be6686;
  }

  &.full-width {
    display: block;
    width: 100%;
  }
}

.title-section {
  font-size: 2.5rem;
  font-weight: 600;
  color: $light-1;
  text-align: center;
  margin-bottom: 5rem;
  span {
    font-weight: 700;
    color: $light-2;
  }
}
.subtitle-section {
  font-size: 1.5rem;
  font-weight: 600;
  color: $light-2;
  margin-bottom: 5px;
}

#portfolio {
  .portfolio-container {
    display: grid;
    grid-template-columns: 260px;
    grid-gap: 60px 40px;
    justify-content: center;

    .portfolio-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        width: 100%;
        height: 150px;
        object-fit: fill;
      }
      .portfolio-title {
        color: $light-1;
        margin-bottom: 5px;
        font-size: 1.25rem;
        font-weight: 600;
      }
      .portfolio-tags-container {
        display: flex;
        gap: 4px 0;
        flex-wrap: wrap;

        .portfolio-tags-item {
          color: $dark-3;
          background: $light-2;
          padding: 2px 4px;
          font-size: 0.75rem;
          font-weight: 400;
          border-radius: 3px;
        }
      }
      .portfolio-content {
        color: $light-2;
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }
  a {
    &::before {
      content: 'Sorry, unfortunately this website has been closed by the owner';
      position: absolute;
      bottom: 20px;
      left: 10%;
      opacity: 0;
      width: 100%;
      color: $dark-1;
      background-color: $light-1;
      padding: 2px 4px;
      font-size: 14px;
      font-weight: 400;
      border-radius: 4px;
      z-index: 10;
      transition: 0.3s;
      pointer-events: none;
    }
    &.offline {
      cursor: default;
      .button-black {
        pointer-events: none;
        cursor: default;
      }
      &:hover {
        &::before {
          opacity: 1;
          animation: down 0.2s ease-in-out 1;
        }
      }
    }
  }
}

@keyframes down {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
