@media (min-width: $mobile) {
  header {
    .header-content {
      left: 50%;
      width: auto;
      text-align: center;
      transform: translate(-50%, -50%);
      z-index: 2;
      .header-text {
        .header-text-title {
          font-size: 1.5rem;
        }
      }
    }

    .navbar {
      height: 55px;
  
      .brand {
        figure {
          width: 55px;
          height: 55px;
          img {
            height: 35px;
          }
        }
      }
      .navbar-list {
        .navbar-item {
          width: 3rem;
          height: 3rem;
          .navbar-link {
            i {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  header {
    .header-content {
      .header-text {
        .header-text-title {
          font-size: 1.75rem;
        }
      }
    }

    .navbar {
      height: 60px;
  
      .brand {
        figure {
          width: 60px;
          height: 60px;
          img {
            height: 40px;
          }
        }
      }
    }
  }

  #portfolio {
    padding-right: 4rem;
    padding-left: 4rem;
    .title-section {
      font-size: 2.1rem;
    }
    .portfolio-container {
      grid-template-columns: repeat(2, 260px);
    }
  }
}

@media (min-width: $dekstop) {
  header {
    .header-content {
      .header-text {
        .header-text-title {
          font-size: 2.25rem;
        }
      }
    }

    .navbar {
      height: 65px;
  
      .brand {
        figure {
          width: 65px;
          height: 65px;
          img {
            height: 45px;
          }
        }
      }
    }
  }
 
  #portfolio {
    padding-right: 5.938rem;
    padding-left: 5.938rem;
    .title-section {
      font-size: 2.3rem;
    }
    .portfolio-container {
      grid-template-columns: repeat(3, 260px);
    }
  }
}

@media (min-width: $pc) {
  header {
    .navbar {
      height: 70px;
  
      .brand {
        figure {
          width: 70px;
          height: 70px;
          img {
            height: 50px;
          }
        }
      }
    }
  }

  #portfolio {
    .portfolio-container {
      grid-template-columns: repeat(4, 260px);
    }
  }
}
