@media (min-width: $mobile) {
  header {
    .header-caption {
      left: 50%;
      width: auto;
      text-align: center;
      transform: translate(-50%, -50%);
      z-index: 2;
      .header-caption-text {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: $tablet) {
  header {
    .header-caption {
      .header-caption-text {
        font-size: 1.75rem;
      }
    }
  }
  #about {
    padding-right: 12rem;
    padding-left: 12rem;
    .about-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 0 127px;
      .about-personal {
        text-align: left;
        figure {
          left: 0;
          transform: translateX(0);
        }
      }
    }
  }
  #portfolio {
    padding-right: 5.563rem;
    padding-left: 5.563rem;
  }
  #article {
    padding-right: 4rem;
    padding-left: 4rem;
    .article-container {
      grid-template-columns: repeat(2, 260px);
    }
  }
}

@media (min-width: $dekstop) {
  header {
    .header-caption {
      .header-caption-text {
        font-size: 2.25rem;
      }
    }
  }
  .navbar {
    .navbar-list {
      position: relative;
      top: 0;
      margin: 0 auto;
      border-bottom: 0;
      &.hide {
        left: 0;
        opacity: 1;
      }

      .navbar-item {
        display: inline-block;
        margin: 0 1.25rem;
      }
    }
    .navbar-toggle {
      display: none;
    }
  }
  #about {
    padding-right: 14rem;
    padding-left: 14rem;
  }
  #article {
    padding-right: 5.938rem;
    padding-left: 5.938rem;
    .article-container {
      grid-template-columns: repeat(3, 260px);
    }
  }
}

@media (min-width: $pc) {
  #about {
    padding-right: 16.875rem;
    padding-left: 16.875rem;
  }
  #article {
    .article-container {
      grid-template-columns: repeat(4, 260px);
    }
  }
}
