@media (min-width: $mobile) {
}

@media (min-width: $tablet) {
}

@media (min-width: $dekstop) {
  .navbar {
    .navbar-list {
      position: relative;
      top: 0;
      margin: 0 auto;
      border-bottom: 0;
      &.hide {
        left: 0;
        opacity: 1;
      }

      .navbar-item {
        display: inline-block;
        margin: 0 1.25rem;
      }
    }
    .navbar-toggle {
      display: none;
    }
  }
}

@media (min-width: $pc) {
}
