@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply overflow-hidden bg-white font-medium text-slate-900 dark:bg-slate-800 dark:text-white;
  }

  #app {
    @apply relative grid max-h-screen overflow-hidden bg-slate-500/10 dark:bg-slate-950/10;
    grid-template-areas:
      'header'
      'main';
    grid-template-rows: 80px 1fr;
  }

  #app > header {
    grid-area: header;
  }

  #app > main {
    @apply container relative mx-auto min-h-[calc(100vh-80px)] overflow-auto p-5 sm:min-h-[calc(100vh-80px-64px)];
    grid-area: main;
  }

  #app > footer {
    grid-area: footer;
  }

  main::-webkit-scrollbar {
    @apply w-0;
  }

  #app:before {
    content: '';
    left: -150%;
    width: 300%;
    z-index: -1;
    @apply absolute top-0 h-full rotate-45 bg-slate-500/30 dark:bg-slate-950/50;
  }

  a {
    @apply font-semibold transition-all duration-300;
  }
  a:not(.router-link-active, .button-link, .social-media-link):hover {
    @apply text-slate-600 dark:text-slate-400;
  }

  span,
  a,
  strong {
    @apply inline-block;
  }

  @media (min-width: 600px) {
    #app {
      grid-template-areas:
        'header'
        'main'
        'footer';
      grid-template-rows: 80px 1fr 64px;
    }
  }
}
